<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="description" content="Brindamos soporte técnico en computadoras, impresoras y equipo conexo en la ciudad de Quito."/>
  <title></title>
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <link rel="shortcut icon" type="image/png" href="images/icon-cpk.png"/>
</head>
<body>
  <header id="header">
    <div class="ed-container abcenter">
      <div class="ed-item tablet-25"><a href="/"><img src="../images/logo-cpk.png" alt="Logo computronik"/></a></div>
      <div class="ed-item menu-cpk tablet-75"><span class="icon-menu menu-mobil">Menú</span>
        <ul class="ed-menu menu">
          <li><a href="/servicios">servicios</a></li>
          <li><a href="/promocion">promocion</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/pichincha-mi-vecino">pichincha-mi-vecino</a></li>
          <li><a href="/contactanos">contactanos</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="ed-container">
    <div class="ed-item">
      <div class="banco__banner text-center">
        <h1 class="banco__title">Computronik es Pichincha mi Vecino</h1>
        <h2 class="banco__sub-title">Ahora el Banco más cerca de usted.</h2>
      </div>
    </div>
  </section>
  <section class="ed-container">
    <div class="ed-item banco__servicios tablet-1-3">
      <article>
        <h3 class="banco__servicios__title">¿Qué puedo realizar en Pichincha mi Vecino?</h3>
        <ul>
          <li>Apertura de Cuenta Xperta</li>
          <li>Retiros y depósitos en efectivo desde $5.00 hasta $200.00</li>
          <li>Pago de servicios básicos. Agua, luz, teléfono</li>
          <li>Recaudaciones y pagos</li>
          <li>Productos financieros</li>
          <li>Cobre el Bono de desarrollo humano</li>
        </ul>
      </article>
    </div>
    <div class="ed-item banco__servicios tablet-1-3">
      <article>
        <h3 class="banco__servicios__title">¿Cuales son los requisitos para abrir una Cuenta Xperta?</h3>
        <ul>
          <li>Ser mayor de 18 años</li>
          <li>No ser cliente de Banco Pichincha</li>
          <li>Copia de cédula a color</li>
          <li>USD 5.00</li>
        </ul>
      </article>
    </div>
    <div class="ed-item banco__servicios tablet-1-3">
      <article>
        <h3 class="banco__servicios__title">¿Qué beneficios tengo con la Cuenta Xperta?</h3>
        <ul>
          <li>Puede registrar dinero hasta USD 3,000 mensuales</li>
          <li>Banca Electrónica .- Desde cualquier lugar del mundo ingrese a <a href="https://www.pichincha.com/portal/Inicio" target="_blank">pichincha.com</a></li>para realizar las siguientes transacciones de forma fácil y segura:
          <ul>
            <li>Consulta de saldos y movimientos</li>
            <li>Hacer transferencias directas e interbancarias</li>
            <li>Pague sus servicios básicos y sus tarjetas de crédito</li>
            <li>Compre tiempo aire</li>
            <li>Inversiones</li>
          </ul>
        </ul>
      </article>
    </div>
    <div class="ed-item banco__servicios tablet-1-3">
      <article>
        <h3 class="banco__servicios__title">¿Como reviso mi estado de cuenta en la Banca Electrónica?</h3>
        <ul>
          <li>Ingrese a <a href="https://www.pichincha.com/portal/Inicio" target="_blank">pichincha.com </a>y seleccione Banca Electrónica PERSONAS</li>
          <li>Seleccione el icono: Solicite su usuario y clave Biométrica</li>
          <li>Ingrese su número de cédula y su clave de la tarjeta xperta</li>
          <li>Siga los pasos indicados por el sistema</li>
        </ul>
        <p>Así obtiene su clave y usuario biométrico para ingresar a banca electrónica y disfrutar de sus ventajas y beneficios.</p>
      </article>
    </div>
  </section>
  <div class="ed-container">
    <div class="ed-item">
      <div data-href="https://www.facebook.com/computronik" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false" class="fb-page"></div>
    </div>
  </div>
  <footer id="footer">
    <div class="ed-container contacto">
      <div class="ed-item">
        <h3 class="contacto__title centrar-texto">Dejanos tú correo y nos pondremos en contacto lo más pronto posible</h3>
      </div>
      <div class="ed-item">
        <form id="contacto" method="post" action="contacto">
          <input type="email" placeholder="Correo" require="require" class="entrada-texto"/>
          <input type="submit" value="Enviar" class="boton-submit"/>
        </form>
      </div>
      <div class="ed-item creditos">
        <p>Creado por,<a href="http://twitter.com/WilliamGec" target="_blank">@william.gec</a>computronik 2015</p>
      </div>
    </div>
  </footer>
  <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="application/javascript" src="../javascripts/script.js"></script>
  <script type="text/javascript">
    var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");
    s.type="text/javascript";
    s.defer=true;s.src="https://salesiq.zoho.com/computronik/float.ls?embedname=computronik";
    t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
  </script>
</body>