<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="description" content="Soporte técnico informático a hogares y empresas en la ciudad de Quito - Ecuador"/>
  <title></title>
  <link rel="stylesheet" href="../stylesheets/style.css"/>
  <link rel="shortcut icon" type="image/png" href="../images/icon-cpk.png"/>
</head>
<body>
  <header id="header">
    <div class="ed-container abcenter">
      <div class="ed-item tablet-25"><a href="/"><img src="../images/logo-cpk.png" alt="Logo computronik"/></a></div>
      <div class="ed-item menu-cpk tablet-75"><span class="icon-menu menu-mobil">Menú</span>
        <ul class="ed-menu menu">
          <li><a href="/servicios">servicios</a></li>
          <li><a href="/promocion">promocion</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/pichincha-mi-vecino">pichincha-mi-vecino</a></li>
          <li><a href="/contactanos">contactanos</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="ed-container main__contacto__banner">
    <div class="ed-item">
      <div class="main__contacto">
        <h1 class="title">Estamos aquí para ayudar</h1>
        <p class="mensaje abcenter">Póngase en contacto con nosotros para solucionar los problemas con su equipo hoy</p>
      </div>
    </div>
    <div class="ed-item tablet-50">
      <div class="datos__contacto">
        <h5>Quito</h5>
        <p>Luis Felipe Borja N12-315 y Sebastian de Benalcazar </p>
        <p>Primer piso Local #2</p>
        <p><span>Oficina:</span>(02) 219-1234</p>
        <p><span>Celular:</span>099-2769-689</p>
      </div>
    </div>
    <div class="ed-item tablet-50 datos__contacto__correo"><a href="mailto:info@computronik.com.ec" class="datos__contacto__correo__email">info@computronik.com.ec</a><a href="skype:computronik_ec?call" class="promocion_kis_call-skype icon-skype">Llámanos gratis</a></div>
    <div class="ed-item">
      <div class="datos__contacto__redes-sociales">
        <p>Nos puedes encontrar también en</p><a href="https://www.facebook.com/computronik/" target="_blank" class="icon-facebook"></a><a href="https://twitter.com/infocomputronik?lang=es" target="_blank" class="icon-twitter"></a>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="ed-container contacto">
      <div class="ed-item">
        <h3 class="contacto__title centrar-texto">Dejanos tú correo y nos pondremos en contacto lo más pronto posible</h3>
      </div>
      <div class="ed-item">
        <form id="contacto" method="post" action="contacto">
          <input type="email" placeholder="Correo" require="require" class="entrada-texto"/>
          <input type="submit" value="Enviar" class="boton-submit"/>
        </form>
      </div>
      <div class="ed-item creditos">
        <p>Creado por,<a href="http://twitter.com/WilliamGec" target="_blank">@william.gec</a>computronik 2015</p>
      </div>
    </div>
  </footer>
  <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="application/javascript" src="../javascripts/script.js"></script>
  <script type="text/javascript">
    var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");
    s.type="text/javascript";
    s.defer=true;s.src="https://salesiq.zoho.com/computronik/float.ls?embedname=computronik";
    t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
  </script>
</body>