extends layout
block content
	include blocks/header
	include blocks/banner
	section.hacemos
		include blocks/hacemos
	section#ofrecemos
		include blocks/ofrecemos
	include blocks/footer
	include blocks/script