<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="description" content="Soporte técnico informático a hogares y empresas en la ciudad de Quito - Ecuador"/>
  <title></title>
  <link rel="stylesheet" href="../stylesheets/style.css"/>
  <link rel="shortcut icon" type="image/png" href="../images/icon-cpk.png"/>
</head>
<body>
  <header id="header">
    <div class="ed-container abcenter">
      <div class="ed-item tablet-25"><a href="/"><img src="../images/logo-cpk.png" alt="Logo computronik"/></a></div>
      <div class="ed-item menu-cpk tablet-75"><span class="icon-menu menu-mobil">Menú</span>
        <ul class="ed-menu menu">
          <li><a href="/servicios">servicios</a></li>
          <li><a href="/promocion">promocion</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/pichincha-mi-vecino">pichincha-mi-vecino</a></li>
          <li><a href="/contactanos">contactanos</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="ed-container">
    <div class="ed-item">
      <div class="banner main__banner">
        <div class="banner__mensaje">
          <h2 class="banner__title title">Soporte técnico informático a Hogares y Empresas</h2>
          <h3 class="banner__subtitle subtitle">Sin dolores de cabeza</h3>
        </div>
      </div>
    </div>
  </div>
  <section id="ofrecemos">
    <div class="ed-container">
      <div class="ed-item tablet-50 web-1-3">
        <div class="ofrecemos">
          <h2 class="ofrecemos__title">Soporte</h2>
          <div class="ofrecemos__detalle">Soporte técnico informático profesional al mejor costo y con garantia sin restricciones</div><a href="#" class="ofrecemos__ver-mas">Más</a>
        </div>
      </div>
      <div class="ed-item tablet-50 web-1-3">
        <div class="ofrecemos">
          <h2 class="ofrecemos__title">Infraestructura</h2>
          <div class="ofrecemos__detalle">Cableado estructurado certificado, planificación, instalación, implementación</div><a href="#" class="ofrecemos__ver-mas">Más</a>
        </div>
      </div>
      <div class="ed-item tablet-50 web-1-3">
        <div class="ofrecemos">
          <h2 class="ofrecemos__title">Desarrollo</h2>
          <div class="ofrecemos__detalle">Desarrollo de sitios web HTML5, CSS3, JavaScript. Diseños personalizados y Responsive</div><a href="#" class="ofrecemos__ver-mas">Más</a>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="ed-container contacto">
      <div class="ed-item">
        <h3 class="contacto__title centrar-texto">Dejanos tú correo y nos pondremos en contacto lo más pronto posible</h3>
      </div>
      <div class="ed-item">
        <form id="contacto" method="post" action="contacto">
          <input type="email" placeholder="Correo" require="require" class="entrada-texto"/>
          <input type="submit" value="Enviar" class="boton-submit"/>
        </form>
      </div>
      <div class="ed-item creditos">
        <p>Creado por,<a href="http://twitter.com/WilliamGec" target="_blank">@william.gec</a>computronik 2015</p>
      </div>
    </div>
  </footer>
  <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="application/javascript" src="../javascripts/script.js"></script>
  <script type="text/javascript">
    var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");
    s.type="text/javascript";
    s.defer=true;s.src="https://salesiq.zoho.com/computronik/float.ls?embedname=computronik";
    t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
  </script>
</body>