<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="description" content="Soporte técnico informático a hogares y empresas en la ciudad de Quito - Ecuador"/>
  <title></title>
  <link rel="stylesheet" href="../stylesheets/style.css"/>
  <link rel="shortcut icon" type="image/png" href="../images/icon-cpk.png"/>
</head>
<body>
  <header id="header">
    <div class="ed-container abcenter">
      <div class="ed-item tablet-25"><a href="/"><img src="../images/logo-cpk.png" alt="Logo computronik"/></a></div>
      <div class="ed-item menu-cpk tablet-75"><span class="icon-menu menu-mobil">Menú</span>
        <ul class="ed-menu menu">
          <li><a href="/servicios">servicios</a></li>
          <li><a href="/promocion">promocion</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/pichincha-mi-vecino">pichincha-mi-vecino</a></li>
          <li><a href="/contactanos">contactanos</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="ed-container">
    <div class="ed-item">
      <div class="banner services__banner">
        <div class="banner__mensaje">
          <h2 class="title">Mejor es prevenir que lamentar</h2>
          <h3 class="subtitle">Elíje la mejor opción de formateo para tú computador</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="ed-container servicios">
    <div class="ed-item">
      <div class="servicio">
        <h3 class="servicio__title">Nuevo inicio</h3>
        <ul class="servicio__detalle">
          <li>Windows 10 Pro</li>
          <li>Microsoft Office 2016</li>
          <li>Programas básicos</li>
          <li class="servicio-no">Antivirus Kaspersky 1-AÑO</li>
          <li class="servicio-no">Limpieza física</li>
          <li class="servicio-no">Respaldo de información</li>
        </ul>
        <p class="servicio__precio">25,00<span class="servicio__precio__moneda">Dólares</span><span class="servicio__precio__impuesto">Inc. Iva</span></p>
      </div>
    </div>
    <div class="ed-item">
      <div class="servicio">
        <h3 class="servicio__title">Información Segura</h3>
        <ul class="servicio__detalle">
          <li>Windows 10 Pro</li>
          <li>Microsoft Office 2016</li>
          <li>Programas básicos</li>
          <li class="servicio-no">Antivirus Kaspersky 1-AÑO</li>
          <li class="servicio-no">Limpieza física</li>
          <li>Respaldo de información</li>
        </ul>
        <p class="servicio__precio">35,00<span class="servicio__precio__moneda">Dólares</span><span class="servicio__precio__impuesto">Inc. Iva</span></p>
      </div>
    </div>
    <div class="ed-item">
      <div class="servicio">
        <h3 class="servicio__title">Nuevo inicio seguro</h3>
        <ul class="servicio__detalle">
          <li>Windows 10 Pro</li>
          <li>Microsoft Office 2016</li>
          <li>Programas básicos</li>
          <li>Antivirus Kaspersky 1-AÑO</li>
          <li>Limpieza física</li>
          <li class="servicio-no">Respaldo de información</li>
        </ul>
        <p class="servicio__precio">55,00<span class="servicio__precio__moneda">Dólares</span><span class="servicio__precio__impuesto">Inc. Iva</span></p>
      </div>
    </div>
    <div class="ed-item">
      <div class="servicio">
        <h3 class="servicio__title">Seguridad y respaldo total</h3>
        <ul class="servicio__detalle">
          <li>Windows 10 Pro</li>
          <li>Microsoft Office 2016</li>
          <li>Programas básicos</li>
          <li>Antivirus Kaspersky 1-AÑO</li>
          <li>Limpieza física</li>
          <li>Respaldo de información</li>
        </ul>
        <p class="servicio__precio">65,00<span class="servicio__precio__moneda">Dólares</span><span class="servicio__precio__impuesto">Inc. Iva</span></p>
      </div>
    </div>
  </section>
  <section class="ed-container">
    <div class="ed-item tablet-50">
      <article class="servicios__informacion">
        <h2 class="servicios__informacion__titulo">¿Soporta mi equipo 
          <spam class="servicios__informacion__tipo"></spam>Windows 10?
        </h2>
        <p class="servicios__informacion__detalle">Microsoft a lanzado una version actualizada y más ligera de Windows y dejara de soportar las versiones anteriores, es por eso que recomendamos dicha versión</p>
        <h3 class="servicios_informacion_sub-titulo">Requisitos minimos</h3>
        <ul class="servicios__informacion__lista">
          <li>
            <h4>Procesador:</h4>
            <p>Un procesador a 1 GHz o más rápido o SoC</p>
          </li>
          <li>
            <h4>RAM:</h4>
            <p>1 gigabyte (GB) para 32 bits o 2 GB para 64 bits</p>
          </li>
          <li>
            <h4>Espacio en disco duro:</h4>
            <p>16 GB para un SO de 32 bits o 20 GB para un SO de 64 bits</p>
          </li>
          <li>
            <h4>Tarjeta gráfica:</h4>
            <p>DirectX 9 o posterior con un controlador WDDM 1.0</p>
          </li>
          <li>
            <h4>Pantalla:</h4>
            <p>800 x 600</p>
          </li>
        </ul>
        <p class="servicios__informacion__nota"><span>¡Ojo! </span>En caso de que no decidas instalar la ultima version de Windows podemos instalar la version que tú desees pero no nos responsabilizamos por posibles fallas de seguridad en el futuro</p>
      </article>
    </div>
    <div class="ed-item tablet-50">
      <article class="servicios__informacion">
        <h2 class="servicios__informacion__titulo">¿Cuales son los  
          <spam class="servicios__informacion__tipo"></spam>programas básicos?
        </h2>
        <p class="servicios__informacion__detalle">Esos programas son los necesarios para que tú puedas iniciar con el trabajo en tu computadora</p>
        <ul class="servicios__informacion__lista">
          <li>Compresor de archivos WinRar</li>
          <li>Declaración de impuestos Dimm Formularios</li>
          <li>Limpiador de registros CCleaner</li>
          <li>Navegadores de internet Google Chrome y Mozilla Firefox</li>
          <li>Complementos de Mozilla Firefox que permiten la descarga directa de videos y música de YouTube directamente</li>
          <li>Reproductor de videos en varios formatos VLC</li>
          <li>Reproductor de música en linea Spotify</li>
          <li>Video conferencia Skype</li>
          <li>Visor y convertidor de PDF a Word - Excel - Imagen y más, Nitro PDF</li>
        </ul>
        <p class="servicios__informacion__nota"><span>¡Ojo! </span>Si necesitas algun programa que no esta listado aquí, nos avisas con tiempo para poder instalarlo. ¿GRATIS?, no, tiene un costo adicional que  dependera del programa que solicítes</p>
      </article>
    </div>
    <div class="ed-item tablet-50">
      <article class="servicios__informacion">
        <h2 class="servicios__informacion__titulo">¿Que carpetas de mi computador 
          <spam class="servicios__informacion__tipo"></spam>respaldan?
        </h2>
        <p class="servicios__informacion__detalle">El respaldo es de toda tu información personal, es decir:</p>
        <ul class="servicios__informacion__lista">
          <li>Escritorio</li>
          <li>Documentos</li>
          <li>Música</li>
          <li>Fótos</li>
          <li>Videos</li>
          <li>Descargas</li>
          <li>Dimm Formularios</li>
          <li>Correos de outlook</li>
          <li>Todo el disco D y otras particiones</li>
        </ul>
        <p class="servicios__informacion__nota"><span>¡Ojo! </span>Los prográmas que estan instalados en el computador no se respaldan</p>
      </article>
    </div>
    <div class="ed-item tablet-50">
      <article class="servicios__informacion">
        <h2 class="servicios__informacion__titulo">¿Qué le hacen en la  
          <spam class="servicios__informacion__tipo"></spam>Limpieza física?
        </h2>
        <p class="servicios__informacion__detalle">Debido a que el computador pasa la mayoria del tiempo en el suelo o en un rincon olvidado, suelen ingresar particulas de polvo y pelusa que dañan los ventiladores, por eso aveces tú computador se calienta mucho y suena como un motor viejo. Además imgresan tambien hormigas - arañas - cucarachas y otras cosas e insectos que dañan al computador</p>
        <p class="servicios__informacion__detalle">Es por eso que se realiza una limpieza fisica interna del computador reparando así los ventiladores y eliminando todas las particulas de polvo e insectos que esten dentro del equipo</p>
        <p class="servicios__informacion__nota"><span>¡Ojo! </span>La limpieza física es exclusiva para los CPU de escritorio y computadoras portatiles, solo en los servicios: <span>NUEVO INICIO SEGURO </span>y <span>SEGURIDAD Y RESPALDO TOTAL</span></p>
      </article>
    </div>
    <div class="ed-item tablet-50">
      <article class="servicios__informacion">
        <h2 class="servicios__informacion__titulo">¿Pueden hacer el formateo en mi  
          <spam class="servicios__informacion__tipo"></spam>empresa o domicilio?
        </h2>
        <p class="servicios__informacion__detalle">Debido a que el formateo dura minimo 4 HORAS con todos los programas ya instalados y actualizado el sistema operativo, ademas, el tiempo en respaldar su información dependera de la cantidada de achivos que tenga, no recomendamos que se lo realize en su empresa o domicilio</p>
        <p class="servicios__informacion__detalle">Pero si por motivos de confidencialidad no puedes llevar el equipo a nuestra oficina, se podria coordinar un soporte en sitio.</p>
        <p class="servicios__informacion__nota"><span>¡Ojo! </span>El soporte en sitio se tiene un costo de $ 25,00 Dólares la hora</p>
      </article>
    </div>
    <div class="ed-item"></div>
  </section>
  <div class="ed-container abcenter">
    <div class="ed-item">
      <h3 class="promocion_kis_sub-title">¿ Tienes más dudas ?</h3>
      <p>Tranquilo, puedes comunicarte con nosotros para despejar cualquier inquietud que tengas</p><a href="skype:computronik_ec?call" class="promocion_kis_call-skype icon-skype">Llámanos gratis</a>
    </div>
  </div>
  <section class="ed-container">
    <div class="ed-item servicios__mensaje">
      <div class="banner">
        <h2 class="subtitle">Garantia total sin restricciones</h2>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="ed-container contacto">
      <div class="ed-item">
        <h3 class="contacto__title centrar-texto">Dejanos tú correo y nos pondremos en contacto lo más pronto posible</h3>
      </div>
      <div class="ed-item">
        <form id="contacto" method="post" action="contacto">
          <input type="email" placeholder="Correo" require="require" class="entrada-texto"/>
          <input type="submit" value="Enviar" class="boton-submit"/>
        </form>
      </div>
      <div class="ed-item creditos">
        <p>Creado por,<a href="http://twitter.com/WilliamGec" target="_blank">@william.gec</a>computronik 2015</p>
      </div>
    </div>
  </footer>
  <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="application/javascript" src="../javascripts/script.js"></script>
  <script type="text/javascript">
    var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");
    s.type="text/javascript";
    s.defer=true;s.src="https://salesiq.zoho.com/computronik/float.ls?embedname=computronik";
    t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
  </script>
</body>