
<div class="ed-container blog__main">
  <div class="ed-item centrar-texto">
    <h1 class="title">Aqui podras encontrar todas nuestras ideas </h1>
    <p>Estamos trabajando en esta pagina </p>
    <h2>Esperalo !!!</h2>
  </div>
</div>
<div class="ed-container blog__articles">
  <article class="ed-item">
    <h2 class="blog__articles__title">Recuperar archivos de flash memory que se han borrado por virus</h2>
    <div class="blog__articles__user"><img src="images/icon-cpk.png" title="Avatar de Usuario" class="blog__articles__user__avatar"/>
      <h3 class="blog__articles__user__name">Computronik Lab</h3>
      <p class="blog__articles__user__date__container">Posteado el 
        <spam class="blog__articles__user__date-post">23, dic 2015 </spam>a las 
        <spam class="blog__articles__user__hour-post">11:10 am</spam>
      </p>
    </div>
    <div class="blog__articles__post">
      <p class="blog__articles__post__blog">
         
        Te ha pasado que cuando quieres acceder a los datos de tu flash memory no aparece nada y en ocasiones todas las carpetas están como accesos directos.
      </p>
      <p class="blog__articles__post__blog">No te preocupes, esta es la solución definitiva al problema.</p>
    </div><a href="blog/recuperar-archivos-de-flash-memory-que-se-han-borrado-por-virus" class="blog__articles__post__ver-mas">Ver más</a>
  </article>
</div>