.ed-container.blog__main
	.ed-item.centrar-texto
		h1.title Aqui podras encontrar todas nuestras ideas 
		p Estamos trabajando en esta pagina 
		h2 Esperalo !!!
.ed-container.blog__articles
	article.ed-item
		h2.blog__articles__title Recuperar archivos de flash memory que se han borrado por virus
		div.blog__articles__user
			img.blog__articles__user__avatar(src="images/icon-cpk.png" title="Avatar de Usuario")
			h3.blog__articles__user__name Computronik Lab
			p.blog__articles__user__date__container Posteado el 
				spam.blog__articles__user__date-post 23, dic 2015 
				| a las 
				spam.blog__articles__user__hour-post 11:10 am
		div.blog__articles__post
			p.blog__articles__post__blog 
				| Te ha pasado que cuando quieres acceder a los datos de tu flash memory no aparece nada y en ocasiones todas las carpetas están como accesos directos.
			p.blog__articles__post__blog
				| No te preocupes, esta es la solución definitiva al problema.
		a.blog__articles__post__ver-mas(href="blog/recuperar-archivos-de-flash-memory-que-se-han-borrado-por-virus") Ver más