.ed-container.main__contacto__banner
	.ed-item
		.main__contacto
			h1.title
				|Estamos aquí para ayudar
			p.mensaje.abcenter
				|Póngase en contacto con nosotros para solucionar los problemas con su equipo hoy
	.ed-item.tablet-50
		.datos__contacto
			h5 Quito
			p Luis Felipe Borja N12-340 y Sebastian de Benalcazar 
			p Primer piso Local #2
			p
				span Oficina:
				| (02) 219-1234
			p
				span Celular:
				| 099-2769-689
			
	.ed-item.tablet-50.datos__contacto__correo
		
		a.datos__contacto__correo__email(href="mailto:info@computronik.com.ec") info@computronik.com.ec
		a.datos__contacto__correo__email(href="mailto:soporte@computronik.com.ec") soporte@computronik.com.ec
		a.promocion_kis_call-skype.icon-skype(href="skype:computronik_ec?call") Llámanos gratis
	.ed-item
		.datos__contacto__redes-sociales
			p Nos puedes encontrar también en
			a.icon-facebook(href="https://www.facebook.com/computronik/" target="_blank")
			a.icon-twitter(href="https://twitter.com/infocomputronik?lang=es" target="_blank")



