
<div class="ed-container main__contacto__banner">
  <div class="ed-item">
    <div class="main__contacto">
      <h1 class="title">Estamos aquí para ayudar</h1>
      <h3 class="subtitle">Póngase en contacto con nosotros para solucionar los problemas con su equipo hoy</h3>
    </div>
  </div>
  <div class="ed-item tablet-50">
    <div class="datos__contacto">
      <h5>Quito</h5>
      <p>Luis Felipe Borja N12-315 y Sebastian de Benalcazar </p>
      <p>Primer piso Local #2</p>
      <p><span>Teléfono:</span>+593(2) 219-1234</p>
    </div>
  </div>
  <div class="ed-item tablet-50 datos__contacto__correo"><a href="mailto:info@computronik.com.ec" class="datos__contacto__correo__email">info@computronik.com.ec</a><a href="skype:computronik_ec?call" class="promocion_kis_call-skype icon-skype">Llámanos gratis</a></div>
  <div class="ed-item">
    <div class="datos__contacto__redes-sociales">
      <p>Nos puedes encontrar también en</p><a href="https://www.facebook.com/computronik/" target="_blank" class="icon-facebook"></a><a href="https://twitter.com/infocomputronik?lang=es" target="_blank" class="icon-twitter"></a>
    </div>
  </div>
</div>