.ed-container.error-container
	.ed-item.error
		h1.error__title ¡¡¡Ups!!! o_O, No encontre lo que quieres, intenta en otro enlace.
	.ed-item.error
		img.error__img(src="../images/bug.png", alt="Pagina no encontrada, lo siento.")