.ed-container
	.ed-item
		.fb-page(data-href="https://www.facebook.com/computronik" data-width="380"  data-hide-cover="false" data-show-facepile="false" data-show-posts="false")
		//- #fb-root
		//- .fb-comments(data-href="https://www.facebook.com/computronik/?fref=ts" data-width="80%" data-numposts="5")