article.ed-container.hacemos
	.ed-item.base-50.tablet-25
		img.hacemos__img(src="images/img-hacemos/img-windows.png")
		h3.hacemos__subtitulo Formateo
	.ed-item.base-50.tablet-25
		img.hacemos__img(src="images/img-hacemos/img-respaldo.png")
		h3.hacemos__subtitulo Respaldo
	.ed-item.base-50.tablet-25
		img.hacemos__img(src="images/img-hacemos/img-mantenimiento-1.png")
		h3.hacemos__subtitulo Mantenimiento
	.ed-item.base-50.tablet-25
		img.hacemos__img(src="images/img-hacemos/img-proteccion.png")
		h3.hacemos__subtitulo Protección
		
