.ed-container.abcenter
	.ed-item
		h3.promocion_kis_sub-title ¿ Tienes más dudas ?
		p Tranquilo, puedes comunicarte con nosotros para despejar cualquier inquietud que tengas
		a.promocion_kis_call-skype.icon-skype(href="skype:computronik_ec?call") Llámanos gratis