
<div class="ed-main login">
  <div class="ed-item">
    <div class="login__banner">
      <h2 class="title">Una cuenta, Todas las soluciones</h2>
      <h3 class="subtitle">Inicia sesión para acceder</h3>
    </div>
  </div>
  <div class="ed-item">
    <form id="login" method="post" action="login.js" class="login__iniciar-sesion">
      <input type="text" placeholder="Usuario" required="required"/>
      <input type="password" placeholder="Contraseña" required="required"/>
      <input type="submit" value="Iniciar sesión" name="iniciar"/>
      <div class="login__link"><a href="/nuevo-usuario" class="login__link__registro">Registrate</a><a href="/restablecer-contraseña" class="login__link__olvido">¿Olvido su contraseña?</a></div>
    </form>
  </div>
</div>