.ed-container
	.ed-item.tablet-50.web-1-3
		.ofrecemos
			h2.ofrecemos__title
				|Soporte
			.ofrecemos__detalle
				|Soporte técnico informático profesional al mejor costo y con garantia sin restricciones
			a.ofrecemos__ver-mas(href="#") Más
	.ed-item.tablet-50.web-1-3
		.ofrecemos
			h2.ofrecemos__title
				|Infraestructura
			.ofrecemos__detalle
				|Cableado estructurado certificado, planificación, instalación, implementación
			a.ofrecemos__ver-mas(href="#") Más
	.ed-item.tablet-50.web-1-3
		.ofrecemos
			h2.ofrecemos__title
				|Desarrollo
			.ofrecemos__detalle
				|Desarrollo de sitios web HTML5, CSS3, JavaScript. Diseños personalizados y Responsive
			a.ofrecemos__ver-mas(href="#") Más
		