section.ed-container
	.ed-item
		.banco__banner.text-center
			h1.banco__title Computronik es Pichincha mi Vecino
			h2.banco__sub-title Ahora el Banco más cerca de usted.
section.ed-container
	.ed-item.banco__servicios.tablet-1-3
		article
			h3.banco__servicios__title ¿Qué puedo realizar en Pichincha mi Vecino?
			ul
				li Apertura de Cuenta Xperta
				li Retiros y depósitos en efectivo desde $5.00 hasta $200.00
				li Pago de servicios básicos. Agua, luz, teléfono
				li Recaudaciones y pagos
				li Productos financieros
				li Cobre el Bono de desarrollo humano
	.ed-item.banco__servicios.tablet-1-3
		article
			h3.banco__servicios__title ¿Cuales son los requisitos para abrir una Cuenta Xperta y llevarme la mochila?
			ul
				li Ser mayor de 18 años
				li No ser cliente de Banco Pichincha
				li Copia de cédula a color
				li Copia de servicio básico
				li USD 5.00
				li Deposito de $20,00 a su nueva cuenta Xperta
	.ed-item.banco__servicios.tablet-1-3
		article
			h3.banco__servicios__title ¿Qué beneficios tengo con la Cuenta Xperta?
			ul
				li Puede registrar dinero hasta USD 3,000 mensuales
				li Banca Electrónica .- Desde cualquier lugar del mundo ingrese a 
					a(href="https://www.pichincha.com/portal/Inicio" target="_blank") pichincha.com
				| para realizar las siguientes transacciones de forma fácil y segura:
				ul
					li Consulta de saldos y movimientos
					li Hacer transferencias directas e interbancarias
					li Pague sus servicios básicos y sus tarjetas de crédito
					li Compre tiempo aire
					li Inversiones
	.ed-item.banco__servicios.tablet-1-3
		article
			h3.banco__servicios__title ¿Como reviso mi estado de cuenta en la Banca Electrónica?
			ul
				li Ingrese a 
					a(href="https://www.pichincha.com/portal/Inicio" target="_blank") pichincha.com 
					| y seleccione Banca Electrónica PERSONAS
				li Seleccione el icono: Solicite su usuario y clave Biométrica
				li Ingrese su número de cédula y su clave de la tarjeta xperta
				li Siga los pasos indicados por el sistema
			p Así obtiene su clave y usuario biométrico para ingresar a banca electrónica y disfrutar de sus ventajas y beneficios.
				


