
<section class="ed-container promocion_kis">
  <div class="ed-item">
    <h1 class="abcenter promocion_kis_title">SUPER-DESCUENTO </h1>
    <h2 class="abcenter promocion_kis_sub-title">Kaspersky Internet Security</h2>
  </div>
  <div class="ed-container promocion_kis_contenido">
    <div class="ed-item tablet-50">
      <p>Estas a punto de obtener el mejor antivirus del mundo al menor precio, Sí, KASPERSKY es el mejor antivirus que tú puedes tener. a tan solo </p>
      <p class="promocion_kis_precio"><span>$28 </span><span>Dólares</span></p>
      <h3 class="promocion_kis_sub-title">¡Empecemos! </h3>
      <p>Descarga el instalador desde el siguiente enlace</p><a href="https://mega.nz/#!xkwEyCaI!BxQOUmiB9Yk27sFP_72bOvkiELznKjiMuQlWiecYy_g" target="_blank" class="promocion_kis_link-kis">Descarga por MEGA.</a>
      <p>Una vez descargado lo instalas con el tipico "Siguiente - Siguiente"</p>
      <p>Si ya adquiriste la licencia con el SUPER DESCUENTO que estamos por el mes de NOVIEMBRE ingresa el código de la licencia que te llego a tu correo.</p>
      <blockquote class="promocion_kis_quote">
        <p>¡ESPEREN...  AUN NO TENGO EL CÓDIGO CON EL SUPER DESCUENTO DE USTEDES...!</p><span>"Tranquilo que aun estas a tiempo".</span>
      </blockquote>
      <h4>Realiza el pago por Deposito o Transferencia en:</h4>
      <ul class="promocion_kis_datos-pago">
        <li>Banco Pichincha</li>
        <li>Cta. 5275649400 - Ahorros</li>
        <li>A nombre de:<em>William E. Guamán</em></li>
      </ul>
      <h4>Tambien puedes pagar por PayPal</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick"/>
        <input type="hidden" name="hosted_button_id" value="Q39JCPE9NLCJ6"/>
        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
        <p class="promocion_kis_nota">*Este metodo de pago tiene una comision del 7%</p>
      </form>
      <h4>Continua con la confirmación</h4>
      <p>Una vez echo el pago envíanos el comprobante a<a href="mailto:info@computronik.com.ec" class="promocion_kis_correo">info@computronik.com.ec</a>, luego de verificarlo te enviaremos tu código en un plazo no mayor a 15 minutos.</p>
      <h3 class="promocion_kis_sub-title">¿ Quieres pagarlo en efectivo ?</h3>
      <p>Estamos en el Valle de los Chillos, Sector La Armenia, Calle Luis Felipe Borja N12-315 y Sebastian de Benalcazar Local #2 (Diagonal al parque de la Armenia)</p>
    </div>
    <div class="ed-item tablet-50 promocion_kis_imagen">
      <figure><img src="http://computronik.com.ec/sites/default/files/promo%20kis.png"/></figure>
      <figcaption>Descuento Noviembre 2015 | Kaspersky Internet Security</figcaption>
      <div class="ed-container abcenter">
        <div class="ed-item">
          <h3 class="promocion_kis_sub-title">¿ Tienes más dudas ?</h3>
          <p>Tranquilo, puedes comunicarte con nosotros para despejar cualquier inquietud que tengas</p><a href="skype:computronik_ec?call" class="promocion_kis_call-skype icon-skype">Llámanos gratis</a>
        </div>
      </div>
    </div>
  </div>
</section>