section.ed-container.promocion_kis
	.ed-item
		h1.abcenter.promocion_kis_title SUPER-DESCUENTO 
		h2.abcenter.promocion_kis_sub-title Antivirus Kaspersky Internet Security 2016
	.ed-container.promocion_kis_contenido
		.ed-item.tablet-50
			p Estas a punto de obtener el mejor antivirus del mundo al menor precio, Sí, KASPERSKY es el mejor antivirus que tú puedes tener. a tan solo 
			p.promocion_kis_precio
				span $39 
				span Dólares
				span.promocion_kis_precio_iva Incluye IVA
			h3.promocion_kis_sub-title ¡Empecemos! 
			p Descarga el instalador desde el siguiente enlace
			a.promocion_kis_link-kis(href="https://mega.nz/#!xkwEyCaI!BxQOUmiB9Yk27sFP_72bOvkiELznKjiMuQlWiecYy_g" target="_blank") Descarga por MEGA.

			p Una vez descargado lo instalas con el tipico "Siguiente - Siguiente"
			p Si ya adquiriste la licencia con el SUPER DESCUENTO que estamos por el mes de NOVIEMBRE ingresa el código de la licencia que te llego a tu correo.
			blockquote.promocion_kis_quote
				p ¡ESPEREN...  AUN NO TENGO EL CÓDIGO CON EL SUPER DESCUENTO DE USTEDES...!
				span "Tranquilo que aun estas a tiempo".
			h4 Realiza el pago por Deposito o Transferencia en:
			ul.promocion_kis_datos-pago
				li Banco Pichincha
				li Cta. 5275649400 - Ahorros
				li A nombre de:
					em William E. Guamán
			h4 Tambien puedes pagar por PayPal
			form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
				input(type="hidden" name="cmd" value="_s-xclick")
				input(type="hidden" name="hosted_button_id" value="Q39JCPE9NLCJ6")
				input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
				img(alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1")



			//- form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
			//- 	input(type="hidden" name="cmd" value="_s-xclick")
			//- 	input(type="hidden" name="hosted_button_id" value="Q39JCPE9NLCJ6")
			//- 	input( type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
			//- 	p.promocion_kis_nota *Este metodo de pago tiene una comision del 7% | Valor final $51.36
			h4 Continua con la confirmación
			p Una vez echo el pago envíanos el comprobante a
				a.promocion_kis_correo(href="mailto:cobranzas@computronik.com.ec") cobranzas@computronik.com.ec
				|, luego de verificarlo te enviaremos tu código en un plazo no mayor a 5 minutos.
			h3.promocion_kis_sub-title ¿ Quieres pagarlo en efectivo ?
			p Estamos en el Valle de los Chillos, Sector La Armenia, Calle Luis Felipe Borja N12-315 y Sebastian de Benalcazar Local #2 (Diagonal al parque de la Armenia)
			
		.ed-item.tablet-50.promocion_kis_imagen
			figure
				img(src="..//images/promocion/kaspersky.png")
			figcaption Descuento Enero 2016 | Kaspersky Internet Security
			include llamanos