script(type="application/javascript", src="http://code.jquery.com/jquery-2.1.4.min.js")
script(type="application/javascript", src="../javascripts/script.js")

script(type="text/javascript").
	document.addEventListener('DOMContentLoaded',function(){
		var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");
		s.type="text/javascript";
		s.defer=true;s.src="https://salesiq.zoho.com/computronik/float.ls?embedname=computronik";
		t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
	})


