section.ed-container
	.ed-item
		.banner.services__banner
			.banner__mensaje
				h2.title
					| Mejor es prevenir que lamentar
				h3.subtitle
					| Elíje la mejor opción de formateo para tú computador
section.ed-container.servicios
	
	.ed-item
		.servicio
			h3.servicio__title
				| Nuevo inicio
			ul.servicio__detalle
				li Windows 10 Pro
				li Microsoft Office 2016
				li Programas básicos
				li.servicio-no Antivirus Kaspersky 1-AÑO
				li.servicio-no Limpieza física
				li.servicio-no Respaldo de información
				//- each item in ['Windows 10 Pro','Microsoft Office 2016','Programas básicos','Antivirus Kaspersky 1-MES','Limpieza física','Respaldo de información']
				//- 	li #{item}
			p.servicio__precio
				| 25,00
				span.servicio__precio__moneda
					|Dólares
				span.servicio__precio__impuesto
					|Inc. Iva
	.ed-item
		.servicio
			h3.servicio__title
				| Información Segura
			ul.servicio__detalle
				li Windows 10 Pro
				li Microsoft Office 2016
				li Programas básicos
				li.servicio-no Antivirus Kaspersky 1-AÑO
				li.servicio-no Limpieza física
				li Respaldo de información
				//- each item in ['Windows 10 Pro','Microsoft Office 2016','Programas básicos','Antivirus Kaspersky 1-MES','Respaldo de información']
				//- 	li #{item}
			p.servicio__precio
				| 35,00
				span.servicio__precio__moneda
					|Dólares
				span.servicio__precio__impuesto
					|Inc. Iva
	.ed-item
		.servicio
			h3.servicio__title
				| Nuevo inicio seguro
			ul.servicio__detalle
				li Windows 10 Pro
				li Microsoft Office 2016
				li Programas básicos
				li Antivirus Kaspersky 1-AÑO
				li Limpieza física
				li.servicio-no Respaldo de información
				//- each item in ['Windows 10 Pro','Microsoft Office 2016','Programas básicos','Antivirus Kaspersky 1-AÑO','Limpieza física']
				//- 	li #{item}
			p.servicio__precio
				| 65,00
				span.servicio__precio__moneda
					|Dólares
				span.servicio__precio__impuesto
					|Inc. Iva
	.ed-item
		.servicio
			h3.servicio__title
				| Seguridad y respaldo total
			ul.servicio__detalle
				each item in ['Windows 10 Pro','Microsoft Office 2016','Programas básicos','Antivirus Kaspersky 1-AÑO','Limpieza física','Respaldo de información']
					li #{item}
			p.servicio__precio
				| 75,00
				span.servicio__precio__moneda
					|Dólares
				span.servicio__precio__impuesto
					|Inc. Iva
section.ed-container
	.ed-item.tablet-50
		article.servicios__informacion
			h2.servicios__informacion__titulo
				| ¿Soporta mi equipo 
				spam.servicios__informacion__tipo
				| Windows 10?
			p.servicios__informacion__detalle
				|Microsoft a lanzado una version actualizada y más ligera de Windows y dejara de soportar las versiones anteriores, es por eso que recomendamos dicha versión
			h3.servicios_informacion_sub-titulo
				| Requisitos minimos
			ul.servicios__informacion__lista
				li
					h4 Procesador:
					p Un procesador a 1 GHz o más rápido o SoC
				li
					h4 RAM:
					p 1 gigabyte (GB) para 32 bits o 2 GB para 64 bits
				li
					h4 Espacio en disco duro:
					p 16 GB para un SO de 32 bits o 20 GB para un SO de 64 bits
				li
					h4 Tarjeta gráfica:
					p DirectX 9 o posterior con un controlador WDDM 1.0
				li
					h4 Pantalla:
					p 800 x 600
			p.servicios__informacion__nota
				span ¡Ojo! 
				| En caso de que no decidas instalar la ultima version de Windows podemos instalar la version que tú desees pero no nos responsabilizamos por posibles fallas de seguridad en el futuro
	.ed-item.tablet-50
		article.servicios__informacion
			h2.servicios__informacion__titulo
				| ¿Cuales son los  
				spam.servicios__informacion__tipo
				| programas básicos?
			p.servicios__informacion__detalle
				|Esos programas son los necesarios para que tú puedas iniciar con el trabajo en tu computadora
			ul.servicios__informacion__lista
				li Compresor de archivos WinRar
				li Declaración de impuestos Dimm Formularios
				li Limpiador de registros CCleaner
				li Navegadores de internet Google Chrome y Mozilla Firefox
				li Complementos de Mozilla Firefox que permiten la descarga directa de videos y música de YouTube directamente
				li Reproductor de videos en varios formatos VLC
				li Reproductor de música en linea Spotify
				li Video conferencia Skype
				li Visor y convertidor de PDF a Word - Excel - Imagen y más, Nitro PDF

			p.servicios__informacion__nota
				span ¡Ojo! 
				| Si necesitas algun programa que no esta listado aquí, nos avisas con tiempo para poder instalarlo. ¿GRATIS?, no, tiene un costo adicional que  dependera del programa que solicítes
	.ed-item.tablet-50
		article.servicios__informacion
			h2.servicios__informacion__titulo
				| ¿Que carpetas de mi computador 
				spam.servicios__informacion__tipo
				| respaldan?
			p.servicios__informacion__detalle
				|El respaldo es de toda tu información personal, es decir:
			ul.servicios__informacion__lista
				li Escritorio
				li Documentos
				li Música
				li Fótos
				li Videos
				li Descargas
				li Dimm Formularios
				li Correos de outlook
				li Todo el disco D y otras particiones

			p.servicios__informacion__nota
				span ¡Ojo! 
				| Los prográmas que estan instalados en el computador no se respaldan
	.ed-item.tablet-50
		article.servicios__informacion
			h2.servicios__informacion__titulo
				| ¿Qué le hacen en la  
				spam.servicios__informacion__tipo
				| Limpieza física?
			p.servicios__informacion__detalle
				|Debido a que el computador pasa la mayoria del tiempo en el suelo o en un rincon olvidado, suelen ingresar particulas de polvo y pelusa que dañan los ventiladores, por eso aveces tú computador se calienta mucho y suena como un motor viejo. Además imgresan tambien hormigas - arañas - cucarachas y otras cosas e insectos que dañan al computador
			p.servicios__informacion__detalle
				| Es por eso que se realiza una limpieza fisica interna del computador reparando así los ventiladores y eliminando todas las particulas de polvo e insectos que esten dentro del equipo
			p.servicios__informacion__nota
				span ¡Ojo! 
				| La limpieza física es exclusiva para los CPU de escritorio y computadoras portatiles, solo en los servicios: 
				span NUEVO INICIO SEGURO 
				| y 
				span SEGURIDAD Y RESPALDO TOTAL
	.ed-item.tablet-50
		article.servicios__informacion
			h2.servicios__informacion__titulo
				| ¿Pueden hacer el formateo en mi  
				spam.servicios__informacion__tipo
				| empresa o domicilio?
			p.servicios__informacion__detalle
				|Debido a que el formateo dura minimo 4 HORAS con todos los programas ya instalados y actualizado el sistema operativo, ademas, el tiempo en respaldar su información dependera de la cantidada de achivos que tenga, no recomendamos que se lo realize en su empresa o domicilio
			p.servicios__informacion__detalle
				| Pero si por motivos de confidencialidad no puedes llevar el equipo a nuestra oficina, se podria coordinar un soporte en sitio.
			p.servicios__informacion__nota
				span ¡Ojo! 
				| El soporte en sitio se tiene un costo de $ 25,00 Dólares la hora
	.ed-item
include llamanos
section.ed-container
	.ed-item.servicios__mensaje
		.banner
			h2.subtitle
				|Garantia total sin restricciones