.banner{
	height:18em;
	display: flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	margin-bottom: 3rem;
	


	//border-bottom: 1.5px solid lighten($gris-oscuro,50);
}
.banner__mensaje{
		/* padding: .8rem 1.4rem; */	
		margin: auto;
		.title{
			padding: 0;
			text-transform: uppercase;
			color:$verde;
			font-weight: bold;
		}
		&__subtitle{
			text-align: center;
			margin: 0;
			padding-top: 2rem;
		}
		&__mail{
			border:2px solid $azul;
			border-radius:.7rem;
			font-weight: 200;
			margin: 0 auto;
			display: block;
			width: 60%;
			padding: .5rem;
			font-size: 1rem;
			transition: all .5s;
			color: rgb(0, 136, 204);
			@media screen and (min-width:700px){
				width: 30%;
			}
			&:hover{
				background:rgb(0, 136, 204);
				color: $fondo-gris;
			}
		}
		&__nota{
			font-weight: 200;
			font-size: .87rem;
			color: rgba(black, .5);
		}
		@media screen and (min-width: 700px) {
			// background-color: darken(rgba($rojo,.8),10);
			.title{
				font-size: 2.8rem;

			}
		}
		
	}
.main__banner,.services__banner{
	background-repeat: no-repeat;
	background-size: 50%;
	position: relative;
	
}	
.main__banner{
	
}	
.services__banner{
	.banner__mensaje{
		@media screen and (min-width: 500px) {
			
		}
	}

}