#footer{
	margin-top: .6em;
	background: $gris-oscuro;
	border-top: 5px solid $rojo;
	border-bottom: 2px solid $rojo;
	.contacto{
		
		&__title{
			color: #eee;
			font-weight: $extra-light;
		}	
		
	}
}
form{
	text-align: center;
}
.creditos{
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
	color: rgba(#eee,.45);
	a{
		color: #eee;
		margin: 0 1%;
	}
}
#mensaje__exito{
	
	color: $gris-oscuro;
	transition: all .4s;
	&:before{
		margin-right: .6rem;
		content: "q";
		font-family: ed-grid;
	}
}
.mostrar__mensaje-contacto{
	color:$verde-mensaje !important;
}