#header{
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:300;
	margin-bottom: .6rem;
	text-align: center;
	background:rgba(#fff, .95);
	box-shadow: 4px 4px  5px solid rgba(red, .6);
	@media screen and (min-width: 680px) {
		background-size: 100%;
		display: flex;
	}
	img{
		max-width: 240px;
	}
}