.hacemos{
	padding-bottom: 1.5rem;
	text-align: center;
	&__subtitulo{
		color: $gris-oscuro;
		text-transform: uppercase;
		margin-top: .5rem;
		font-size: .9rem;
		transition: all .4s;
		margin-bottom: 2rem;
		/* &:after{
			content:"q";
			font-family: ed-grid;
			color:$verde;
		} */
	}
}
.hacemos__img{
	width: 83.5px;

}
 